pytest
tox
pynamodb
elasticsearch-dsl
requests
pytest-cov
pytest-flake8
flake8==3.6.0
pep8-naming==0.7.0
flake8-import-order
pyyaml
testfixtures
boto3
python-jose
aws-requests-auth
botocore
callee
moto
validators
python-coveralls
