pytest
tox
pynamodb
elasticsearch-dsl
requests
pytest-cov
pytest-flake8
flake8==3.6.0
pep8-naming==0.7.0
flake8-import-order
pyyaml
testfixtures
boto3
moto==1.3.7
python-jose==2.0.2
aws-requests-auth
botocore
callee
validators
python-coveralls
